$white-smoke: #e5e5e5;
$white: #fff;
$blue: #0e3742;
$black: #000;
$black-bkg: #010616;
$grey: #d3d6db;
$bottom-navigation-bkg: #0f3057;
$white-opacity: rgba(255, 255, 255, 0.3);
$dark-blue: rgba(14, 54, 173, 0.2);
$dark-grey: #303841;
$light-blue: #daf4f5;
$blue-text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
  0 0 80px #03bcf4, 0 0 160px #03bcf4, 0 0 400px #03bcf4;
